<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Weather Details</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="css/style.css">
    <script src="js/main.js"></script>
     <link rel="icon" type="image/x-icon" href="images/icon2.png">
</head>

<body>
   {{>navbar}}
    <!--Main Header !-->
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
               <div class="main_content">
                   <form class="temp_form">
                       <input type="text" id="City_name" placeholder="Enter your city Name" autocomplete="off">
                       <input type="submit" value="search" id="submitBtn">
                    </form>
               </div>
               <div class="tempInfo">
                  <div class="top_layer">
                   <p id="day">Tuesday</p>
                   <p id="today_data">13 OCT</p>
                  </div>
                  <div class="main_layer">
                      <p id="City_Name">Output Goes Here</p>

                      <div class="middle_layer data_hide">
                        <p id="temp"><span id="temp_real">0</span>&deg;C</p>
                        <p id="temp_status"><i class="fa-clouds" aria-hidden="true"></i></p>
                      </div>
                   </div>
               </div>
            </div>
        </div>
    </div>
    {{>footer}}
  <script>
    const getCurrentDay= ()=>{
            const WeekDay = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"];
             
                let currentTime = new Date();
                days =  WeekDay[currentTime.getDay()];
                let day = document.getElementById('day')
                day.innerText = days;
         };
         getCurrentDay();
  </script>
   
</body>
</html>